<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.Y</key>
  <array>
    <string>Y</string>
  </array>
  <key>public.kern1._L</key>
  <array>
    <string>L</string>
  </array>
  <key>public.kern2.A</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern2.T</key>
  <array>
    <string>T</string>
  </array>
  <key>public.kern2.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
  </array>
</dict>
</plist>
