<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>35</key>
      <dict>
        <key>width</key>
        <integer>35</integer>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>41</key>
          <integer>2</integer>
          <key>68</key>
          <integer>3</integer>
          <key>94</key>
          <integer>4</integer>
          <key>121</key>
          <integer>5</integer>
          <key>0</key>
          <integer>7</integer>
          <key>43</key>
          <integer>8</integer>
        </dict>
      </dict>
      <key>40</key>
      <dict>
        <key>width</key>
        <integer>40</integer>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>41</key>
          <integer>2</integer>
          <key>68</key>
          <integer>3</integer>
          <key>94</key>
          <integer>4</integer>
          <key>121</key>
          <integer>5</integer>
          <key>0</key>
          <integer>7</integer>
          <key>38</key>
          <integer>8</integer>
        </dict>
      </dict>
    </dict>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Eth</string>
    <string>Thorn</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>uni0122</string>
    <string>Gdotaccent</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>Jcircumflex</string>
    <string>uni013B</string>
    <string>Ldot</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>uni0145</string>
    <string>Ntilde</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Otilde</string>
    <string>OE</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>uni0156</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>uni0218</string>
    <string>Scircumflex</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>uni021A</string>
    <string>uni0162</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>plus</string>
    <string>minus</string>
    <string>numbersign</string>
    <string>ampersand</string>
    <string>period</string>
    <string>comma</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>question</string>
    <string>questiondown</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>quotesingle</string>
    <string>quotedbl</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>hyphen</string>
    <string>emdash</string>
    <string>bar</string>
    <string>brokenbar</string>
    <string>slash</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>cent</string>
    <string>dollar</string>
    <string>franc</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>degree</string>
    <string>lira</string>
    <string>sterling</string>
    <string>A.alt</string>
    <string>B.alt</string>
    <string>C.alt</string>
    <string>D.alt</string>
    <string>E.alt</string>
    <string>F.alt</string>
    <string>G.alt</string>
    <string>H.alt</string>
    <string>I.alt</string>
    <string>J.alt</string>
    <string>K.alt</string>
    <string>L.alt</string>
    <string>M.alt</string>
    <string>N.alt</string>
    <string>O.alt</string>
    <string>P.alt</string>
    <string>Q.alt</string>
    <string>R.alt</string>
    <string>S.alt</string>
    <string>T.alt</string>
    <string>U.alt</string>
    <string>V.alt</string>
    <string>W.alt</string>
    <string>X.alt</string>
    <string>Y.alt</string>
    <string>Z.alt</string>
    <string>acute</string>
    <string>breve</string>
    <string>caron</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>commaaccent</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>hungarumlaut</string>
    <string>macron</string>
    <string>ogonek</string>
    <string>ring</string>
    <string>tilde</string>
  </array>
</dict>
</plist>
